.coupon_container {
  margin-top: 150px;
}

.coupon_title {
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  margin-top: 70px;
  margin-bottom: 30px;
  font-family: 'HSSanTokki20-Regular';
  color: #5c5b5a;
}
