.blank {
  width: 100%;
  height: 100vh;
}

.banner {
  img {
    width: 100%;
    height: 70vh;
    object-fit: none;
  }
}

:deep(.slick-slide) {
  text-align: center;
  height: 70vh;
  line-height: 70vh;
  background: #f6f4ee;
  overflow: hidden;
}

:deep(.slick-slide h3) {
  color: #fff;
}
