.mypage_container {
  width: 80%;
  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;
  position: relative;

  .table_scription {
    top: 210px;
    right: 0px;
    position: absolute;
    color: #555654;
    span {
      color: #068ecd;
    }
  }

  .mypage_logo {
    margin-bottom: 50px;
    text-align: center;
    height: 55px;
    line-height: 55px;
    font-size: 30px;
    font-family: 'HSSanTokki20-Regular';
    color: #5c5b5a;
    margin-top: 130px;
  }
}

.register_table {
  width: 100%;
  .register_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 65px;
    color: #555654;
    border-bottom: 1px solid lightgray;

    span {
      color: #068ecd;
    }

    .register_input {
    }
    .input_error {
      border: 1px solid rgb(250, 145, 138);
    }

    .register_sub {
      margin-left: 70px;
    }
  }

  .register_row div:nth-child(1) {
    background-color: #eae5dd;
    width: 150px;
    line-height: 65px;
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box;
  }
}

.register_btn {
  cursor: pointer;
  width: 200px;
  text-align: center;
  margin-bottom: 20px;
  height: 45px;
  line-height: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  color: white;
  background-color: #05153b;
}

.mypage_menu_group {
  display: flex;
  align-items: start;
}

.mypage_description {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 50px;
}

.mypage_menu_tabs {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;

  .mypage_menu {
    width: 150px;
    transition: 0.2s;
    cursor: pointer;
    padding: 20px;
    color: #05153b;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;

    &:nth-child(1) {
      border-top: 1px solid lightgray;
    }
  }

  .mypage_menu_active {
    color: white;
    background-color: #05153b;
  }
}

.delete_btn {
  cursor: pointer;
  width: 200px;
  text-align: center;
  height: 45px;
  line-height: 45px;
  margin-left: auto;
  margin-bottom: 50px;
  margin-right: auto;
  color: white;
  background-color: #05153b;
}

.delete_container {
  width: 1000px;
  text-align: center;
  margin-top: 35px;

  & div:nth-child(1) {
    font-size: 24px;
    font-weight: bold;
  }

  & div:nth-child(2) {
    font-size: 16px;
    margin-top: 20px;
  }

  .delete_btn {
    cursor: pointer;
    width: 200px;
    text-align: center;
    height: 45px;
    line-height: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    color: white;
    background-color: #05153b;
  }
}

@media screen and (min-width: 1024px) {
  /* Desktop */
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Tablet */
  .mypage_container,
  .delete_container {
    width: 480px;
  }
  .register_sub {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  /* Tablet */
  .mypage_container,
  .delete_container {
    width: 100vw;
  }
  .register_sub {
    display: none;
  }

  .register_table {
    overflow: hidden;
    width: 100vw;
  }

  .mypage_menu_group {
    width: 100vw;
    flex-direction: column !important;
  }
  .mypage_menu_tabs {
    width: 100vw;
    font-size: 14px;
    display: flex;
    flex-direction: row !important;

    div {
      flex: 1;
    }
  }
}
